export DJANGO_SECRET_KEY="#owss#s+=@d0bi+bxd40-^a7z2dp8hn^(3tx4()m&^%9*asq4p"
export DEBUG="True"
export DJANGO_CONFIGURATION="Dev"
export DATABASE_URL="postgres://physio_app_8wykrrf:k64$bj$v+1@localhost:5432/physio_db"
export ENTITY_NAME="Dr. Bangera's Physiotherapy Clinic"
export DROPDOWN_LIMITS="10"
export SWITCH_USER="True"
